# Node modules
node_modules
**/node_modules/

# Environment variables
**/.env
**/.env.local

# Build directories
**/dist/
build
**/build/

# Logs
**/logs
**/*.log

# IDE specific files
.vscode/
.idea/